# Build
/dist

# Node modules
/node_modules/

# Vite
/.vite/
.vite/

# Archivos de env
.env*
.env.*.local
.env.local
.env.development
.env.test
!.env.example

# Archivos de mapa
*.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Cache
.cache/
*.tsbuildinfo

# Archivos tmps
*.log
*.tmp
*.swp
