# Vite build
/dist

# Cache de vite y archivos temp
/node_modules/.vite
/node_modules/.tmp/
/node_modules/
.vite
node_modules/.vite/deps/_metadata.json

# Maps
*.map

# Archivos de entorno local
.env.local
.env.development
.env.test
.env.*.local # Para patrones como .env.staging.local

# Logs de npm/yarn 
npm-debug.log
yarn-error.log

# Gajes de usar MacOS
.DS_Store

# Gajes de usar VSCode
.vscode/
